/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  overflow-x: hidden !important;
}

body {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

input[type="file"] {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

input::placeholder {
  color: #ffffff73;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes animateLogo {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
